[user]
	name = Flavius Stef
	email = flavius.stef@gmail.com
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	pom = push origin master
	di = diff --color
[core]
	editor = gvim -f
	autocrlf = input
[color]
	ui = auto
[push]
	default = simple
